<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <section class="container py-5" layout:fragment="main">
        <!-- Steep action -->
        <div th:replace="~{site/fragments/steepaction :: steepaction}"></div>

        <!-- cart detail -->
        <section class="container cart-detail py-2">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <form th:object="${orderdetails}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">SẢN PHẨM</th>
                                        <th class="text-center">Tên sp</th>
                                        <th class="text-center">GIÁ</th>
                                        <th class="text-center">SỐ LƯỢNG</th>
                                        <th class="text-center">TẠM TÍNH</th>
                                        <th class="text-center">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr th:each="orderDetail, stat : ${orderdetails}">
                                        <td>
                                            <img width="100px" th:src="@{'/uploads/' + ${orderDetail.productImage}}"
                                                class="img-fluid rounded-top">
                                        </td>
                                        <td style="max-width: 150px;">
                                            <span th:text="${orderDetail.productName}"></span>

                                        </td>
                                        <td
                                            th:text="${#numbers.formatDecimal(orderDetail.productPrice, 1, 'COMMA', 2, 'POINT')}">
                                        </td>
                                        <td>
                                            <span class="form-control" th:text="${orderDetail.quantity}"></span>
                                        </td>
                                        <td
                                            th:text="${#numbers.formatDecimal(orderDetail.quantity * orderDetail.productPrice, 1, 'COMMA', 2, 'POINT')}">
                                        </td>
                                        <td class="d-flex justify-content-center">
                                            <a class="px-3" th:href="@{'/site/carts/increase/' + ${orderDetail.orderDetailid}}"><i class="fa-solid fa-plus"></i></a>
                                            <a class="px-3" th:href="@{'/site/carts/decrease/' + ${orderDetail.orderDetailid}}"><i class="fa-solid fa-minus"></i></a>
                                            <a class="px-3" th:href="@{'/site/carts/remove/' + ${orderDetail.orderDetailid}}"><i class="fa-solid fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn-Cart"><a th:href="@{/site/products/allproduct}">Mua tiếp</a></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">CỘNG GIỎ HÀNG</h4>
                            <p class="card-text py-3">Tổng tiền: <span class=""
                                    th:text="${#numbers.formatDecimal(totalRevenue, 1, 'COMMA', 2, 'POINT')}"></span> ₫
                            </p>
                            <div class="row">
                                <button class="btn-Cart"><a th:href="@{/site/carts/checkdetail}">Thanh toán</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

</body>

</html>