<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <section th:fragment="cartshopping">
        <div class="row cart-shopping">
            <div class="card">
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table">
                        <tbody>
                            <tr th:each="orderdetail : ${orderdetails}">
                                <td>
                                    <img width="60px" th:src="@{'/uploads/' + ${orderdetail.productImage}}" alt="">
                                </td>
                                <td>
                                    <span th:text="${orderdetail.productName}"></span><br>
                                    <hr>
                                    <span th:text="${orderdetail.quantity}"></span> x <span th:text="${orderdetail.productPrice}"></span>₫ <br> 
                                    = <span th:text="${#numbers.formatDecimal(orderdetail.quantity * orderdetail.productPrice, 1, 'COMMA', 2, 'POINT')}"></span> ₫
                                </td>
                                <td>
                                    <a class="d-flex align-items-center" th:href="@{'/site/carts/remove/' + ${orderdetail.orderDetailid}}"><i class="bi bi-x-circle"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Tổng tiền thu: <span th:text="${#numbers.formatDecimal(totalRevenue, 1, 'COMMA', 2, 'POINT')}"></span> ₫
                    </h5>                    
                    <hr>
                    <div class="row">
                        <button class="btn-Cart"><a th:href="@{/site/carts/cartdetail}">Xem giỏ hàng</a></button>
                        <button class="btn-Cart2 mt-2"><a th:href="@{/site/carts/checkdetail}">Thanh toán</a></button>
                    </div>
                </div>
            </div>            
        </div>
    </section>
</body>

</html>