<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <section class="container py-5" layout:fragment="main">
        <div th:replace="~{site/fragments/steepaction :: steepaction}"></div>
        <!-- cart detail -->
        <section class="container py-2 pt-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="mb-3">
                        <h4>THÔNG TIN THANH TOÁN</h4>
                        <form th:action="@{/site/carts/saveCustomerInfo}" method="post" th:object="${customer}">
                            <label for="fullname" class="form-label">Họ và tên *</label>
                            <input type="text" class="form-control" placeholder="Nhập họ và tên"
                                th:field="*{fullName}" required/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="phone" class="form-label mt-3">Số điện thoại *</label>
                                        <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                            th:field="*{phone}" required/>
                                        <label for="tinh" class="form-label mt-3">Ngày đăng ký *</label>
                                        <input th:field="*{registeredDate}" type="date" class="form-control" required/>
                                        <label for="tinh" class="form-label mt-3">Tỉnh/Thành phố *</label>
                                        <input type="text" class="form-control" placeholder="Nhập Tỉnh/Thành phố"
                                            th:field="*{tinh}" required/>
                                        <label for="xa" class="form-label mt-3">Xã/Phường thị trấn *</label>
                                        <input type="text" class="form-control" placeholder="Nhập Xã/Phường thị trấn"
                                            th:field="*{xa}" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="email" class="form-label mt-3">Địa chỉ email *</label>
                                        <input type="email" class="form-control" placeholder="Nhập Email"
                                            th:field="*{email}" required/>
                                        <label for="quan" class="form-label mt-3">Quận/Huyện *</label>
                                        <input type="text" class="form-control" placeholder="Nhập Quận/Huyện"
                                            th:field="*{quan}" required/>
                                        <label for="address" class="form-label mt-3">Địa chỉ giao hàng *</label>
                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ cụ thể số nhà"
                                            th:field="*{address}" required/>
                                    </div>
                                </div>
                            </div>
                            <h4>THÔNG TIN BỔ SUNG</h4>
                            <label for="note" class="form-label">Ghi chú đơn hàng</label>
                            <textarea class="form-control" rows="2" th:field="*{note}"></textarea>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <input type="hidden" th:field="*{customerId}"/>
                                <button type="submit" class="btn-Cart">Lưu thông tin</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-md-5">
                    <div class="card check-detail-cart">
                        <div class="card-body">
                            <h4 class="card-title text-center py-2">ĐƠN HÀNG CỦA BẠN</h4>
                            <table class="table">
                                <tbody>
                                    <tr th:each="orderdetail : ${orderdetails}">
                                        <td>
                                            <img width="60px" th:src="@{'/uploads/' + ${orderdetail.productImage}}" alt="">
                                        </td>
                                        <td class="py-2" style="color: rgb(0,119,132); font-weight: 600;">Tên sản phẩm: <span th:text="${orderdetail.productName}"></span><br>
                                            <hr>
                                            Tổng tiền: 
                                            <span th:text="${orderdetail.quantity}"></span> x <span th:text="${orderdetail.productPrice}"></span>₫
                                            = <span th:text="${#numbers.formatDecimal(orderdetail.quantity * orderdetail.productPrice, 1, 'COMMA', 2, 'POINT')}"></span> ₫
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 class="card-title text-center" style="color: rgb(0,119,132); font-weight: 800;">
                                Tổng tiền thu: <span th:text="${#numbers.formatDecimal(totalRevenue, 1, 'COMMA', 2, 'POINT')}"></span> ₫
                            </h5> 
                            <p class="card-text py-2">Hoá đơn chưa kèm phí ship (Quý khách thanh toán bằng tiền mặt hoặc
                                chuyển khoản theo yêu cầu với đơn hàng của shop).</p>
                            <div class="form-check py-2">
                                <input class="form-check-input" type="checkbox" value="" id="" checked required/>
                                <label class="form-check-label" for=""> Tôi đã đọc và đồng ý với điều khoản và điều kiện
                                    của website * </label>
                            </div>
                            <div class="row py-2 d-flex justify-content-center text-center">
                                <form th:action="@{/site/carts/placeorder}" method="post">
                                    <input type="hidden" th:value="${customer.customerId}" name="customerId"required/>
                                    <button type="submit" class="btn-Cart w-75">Đặt hàng</button>
                                </form>
                            </div>
                                              
                            <p class="py-2">Thông tin cá nhân của bạn sẽ được sử dụng để xử lý đơn hàng, tăng trải
                                nghiệm sử dụng website, và cho các mục đích cụ thể khác đã được mô tả trong chính sách
                                riêng tư.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>