<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <section layout:fragment="main">
        <!-- header doanh muc -->
        <section class="container">
            <div class="row py-2">
                <div class="col-md-4 m-auto">
                    <h5 style="font-size: 1.3rem;">ĐỒ LƯU NIỆM MIXI</h5>
                </div>
                <div class="col-md-8 m-auto">
                    <div class="select-sreach d-flex align-items-center float-end">
                        <h6 style="font-size: 1rem;">Hiển thị 1–12 của 17 kết quả</h6>
                        <div class="mb-3 ms-2">
                            <select style="font-size: 1rem;" class="form-select form-select-lg" name="" id="">
                                <option selected>Tất cả</option>
                                <option value="">Giá: thấp đến cao</option>
                                <option value="">Giá: cao đến thấp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="height: 5px; width: 70%;
            background-color: rgb(0,119,132);
            display: inline-block;" class="m-auto"></div>
            </div>
        </section>

        <!-- body -->
        <section class="container category ">
            <div class="row py-2">
                <div class="col-md-3">
                    <h5 style="font-size: 1.3rem;">LỌC THEO GIÁ</h5>
                    <hr>
                    <div class="mb-4 pb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="form-label">Thấp nhất</label>
                                <input type="text" class="form-control" name="" id="" />
                            </div>
                            <div class="col-md-6">
                                <label for="" class="form-label">Cao nhất</label>
                                <input type="text" class="form-control" name="" id="" />
                            </div>
                        </div>
                    </div>
                    <h5 style="font-size: 1.2rem;">DANH MỤC SẢN PHẨM</h5>
                    <hr>
                    <ul class="nav">
                        <li class="nav-item">
                            <div th:each="category : ${categories}">
                                <a class="dropdown-item nav-link" th:href="@{/site/category/{categoryid}(categoryid=${category.id})}">> <span th:text="${category.name}"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 m-auto">
                    <div class="row">
                        <div class="col-md-4 pt-2" th:each="product : ${products}">
                            <div class=" p-2">
                                <div class="card-body">
                                    <img th:src="@{/image/{image}(image=${product.image})}" class="img-fluid pb-3" alt="">
                                    <p th:text="${product.category.name}"></p>
                                    <p th:text="${product.name}"></p>
                                    <div class="star">
                                        <span th:each="i : ${#numbers.sequence(1, product.rating)}">
                                            <i class="bi bi-star-fill"></i>
                                        </span>
                                        <span th:each="i : ${#numbers.sequence(product.rating + 1, 5)}">
                                            <i class="bi bi-star"></i>
                                        </span>
                                    </div>
                                    <h5 th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA')} + ' đ'"></h5>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 pt-2">
                            <div class=" p-2">
                                <div class="card-body">
                                    <img src="/image/lego3-300x400.jpg" class="img-fluid pb-3" alt="">
                                    <p>ĐỒ LƯU NIỆM MIXI</p>
                                    <p>Lego Mixi 1200ml</p>
                                    <div class="star">
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                    </div>
                                    <h5>200.000 đ</h5>
                                </div>
                            </div>
                        </div> -->
                        <nav aria-label="Page navigation ">
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>