<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <section layout:fragment="main">
        <!-- header -->
        <section>
            <img src="/image/header.png" class="img-fluid rounded-top" alt="" />
        </section>
        <!-- product -->
        <section class="product container text-center">
            <div class="row py-5">
                <div class="row">
                    <div class="col-lg-7 m-auto">
                        <h1 style="font-weight: 600;">BÁN CHẠY NHẤT</h1>
                        <div style="height: 5px; width: 70%;
                    background-color: rgb(0,119,132);
                    display: inline-block;" class="m-auto"></div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-lg-7 m-auto">
                        <button class="btn-product"><a th:href="${doanhmuc}">XEM TẤT CẢ</a></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="product : ${products}" class="col-md-3 pt-2" data-aos="fade-up">
                    <div class="p-2">
                        <div class="card-body">
                            <a th:href="@{/site/productdetail/{productid}(productid=${product.productid})}">
                                <img th:src="@{'/uploads/' + ${product.image}}" class="img-fluid pb-2" alt="" />
                            </a>
                            <p th:text="${product.category.name}"></p>
                            <p th:text="${product.name}"></p>
                            <div class="star">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <h5 th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 2, 'COMMA')} + ' VND'"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- video -->
        <section class="container pt-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 style="font-weight: 600;">THEO DÕI SẢN PHẨM</h1>
                    <div style="height: 5px; width: 70%;
                background-color: rgb(0,119,132);
                display: inline-block;" class="m-auto"></div>
                </div>
            </div>
        </section>
        <section class="video" data-aos="slide-up" style="margin-top: -70px;">
            <div class="container d-flex justify-content-center align-items-center position-relative">
                <video autoplay muted loop playsinline src="/image/video-1598728053.mp4"></video>
                <div class="text-center position-absolute top-50 start-50 translate-middle">
                    <h3 style="color: rgb(255, 255, 255);">MixiShop</h3>
                    <p style="color: rgb(255, 255, 255);">Cập nhật thông tin về sản phẩm mới</p>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <button class="btn-video"><a
                                    href="https://www.facebook.com/profile.php?id=100076687362461">FANPAGE</a></button>
                            <button class="btn-video"><a
                                    href="https://www.instagram.com/mixi.shop/">INSTAGRAM</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Awesome feedback -->
        <section class="product container text-center">
            <div class="row py-3">
                <div class="col-lg-7 m-auto">
                    <h1>Awesome feedback</h1>
                    <div style="height: 5px; width: 70%;
                    background-color: rgb(0,119,132);
                    display: inline-block;" class="m-auto"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi1.jpg" class="img-fluid pb-3" alt="">
                </div>
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi2.jpg" class="img-fluid pb-3" alt="">
                </div>
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi3.jpg" class="img-fluid pb-3" alt="">
                </div>
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi4.jpg" class="img-fluid pb-3" alt="">
                </div>
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi1.jpg" class="img-fluid pb-3" alt="">
                </div>
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi2.jpg" class="img-fluid pb-3" alt="">
                </div>
                <div class="col-md-2" data-aos="fade-up">
                    <img src="/image/phanHoi2.jpg" class="img-fluid pb-3" alt="">
                </div>
            </div>
            <div class="row py-3">
                <div class="d-flex justify-content-center">
                    <button class="btn-feedback"><a href="https://www.facebook.com/profile.php?id=100076687362461">Load
                            More</a></button>
                    <button class="btn-feedback"><a href="https://www.instagram.com/mixi.shop/">Follows</a></button>
                </div>
            </div>
        </section>
    </section>
</body>

</html>