<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <section layout:fragment="main">
        <!-- header doanh muc -->
        <section class="container">
            <div class="row py-2">
                <div class=" m-auto">
                    <h5 style="font-size: 1.3rem;">ĐỒ LƯU NIỆM MIXI</h5>
                </div>
                <div style="height: 5px; width: 60%;
        background-color: rgb(0,119,132);
        display: inline-block;" class="m-auto"></div>
            </div>
        </section>
        <!-- product detail -->
        <section class="container">
            <div class="row py-3">
                <div class="col-md-6 d-flex justify-content-center">
                    <img th:src="@{'/uploads/' + ${product.image}}" class="img-fluid rounded-top zoom-on-hover" alt="" />
                </div>
                <div class="col md-6">
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: 700;" th:text="${product.name}"></h4>
                            <hr>
                            <div class="star" style="color: rgb(214,124,93);">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <p class="card-text" th:text="${product.description}">24 đánh giá khách hàng</p>
                            <h3 th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 2, 'COMMA')} + ' VND'">
                            </h3>
                            <button class="btn-Cart2 mt-2" style="border-radius: 10px;"><a href="">Thêm vào giỏ
                                    hàng</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="container">
            <div class="row py-3">
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="/image/lego5-300x400.jpg" class="img-fluid rounded-top zoom-on-hover" alt="" />
                </div>
                <div class="col md-6">
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight: 700;">Cốc Mixi 1200 ML</h4>
                            <hr>
                            <div class="star" style="color: rgb(214,124,93);">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <p class="card-text">24 đánh giá khách hàng</p>
                            <h3>250.000 đ</h3>
                            <button class="btn-Cart2 mt-2" style="border-radius: 10px;"><a href="">Thêm vào giỏ hàng</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- same product -->

        <section class="container product text-center py-3">
            <h3>SẢN PHẨM TƯƠNG TỰ</h3>
            <div style="height: 5px; width: 50%;
        background-color: rgb(0,119,132);
        display: inline-block;" class="m-auto"></div>
            <div class="row ">
                <div class="col-md-3 pt-2">
                    <div class="p-2">
                        <div class="card-body">
                            <a href="/customer/product-detail.html"><img src="/image/lego1-300x400.jpg"
                                    class="img-fluid pb-3" alt=""></a>
                            <p>ĐỒ LƯU NIỆM MIXI</p>
                            <p>Cốc Mixi 1200ml</p>
                            <div class="star">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <h5>200.000 đ</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-2">
                    <div class="p-2">
                        <div class="card-body">
                            <a href="/customer/product-detail.html"><img src="/image/lego2-300x400.jpg"
                                    class="img-fluid pb-3" alt=""></a>
                            <p>ĐỒ LƯU NIỆM MIXI</p>
                            <p>Cốc Mixi 1200ml</p>
                            <div class="star">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <h5>200.000 đ</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-2">
                    <div class="p-2">
                        <div class="card-body">
                            <a href="/customer/product-detail.html"><img src="/image/lego3-300x400.jpg"
                                    class="img-fluid pb-3" alt=""></a>
                            <p>ĐỒ LƯU NIỆM MIXI</p>
                            <p>Cốc Mixi 1200ml</p>
                            <div class="star">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <h5>200.000 đ</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-2">
                    <div class="p-2">
                        <div class="card-body">
                            <a href="/customer/product-detail.html"><img src="/image/lego4-300x400.jpg"
                                    class="img-fluid pb-3" alt=""></a>
                            <p>ĐỒ LƯU NIỆM MIXI</p>
                            <p>Cốc Mixi 1200ml</p>
                            <div class="star">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                                <span><i class="bi bi-star-fill"></i></span>
                            </div>
                            <h5>200.000 đ</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>