<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <!-- thông báo -->
    <section class="container py-5" layout:fragment="main">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mt-5" style="color: rgb(0, 119, 132); font-weight: 700;">Đăng nhập</h2>
                <p th:text="${message}" style="color: red; font-size: 1.3rem; font-weight: 500; text-align: center;"></p>
                <form th:action="@{/site/accounts/login}" th:object="${user}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Tên đăng nhập</label>
                        <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Nhập username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mật khẩu</label>
                        <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-50" style="background-color: rgb(0, 119, 132); font-weight: 700;">Login</button>
                    </div>
                    <div class="row d-flex justify-content-md-center align-items-center pt-4">
                        <div class="text-center" style="color: rgb(0, 119, 132); font-size: 1.2rem; font-weight: 600;" >Bạn có thể đăng nhập với</div>
                        <div class="col-md-6 text-end">
                            <a href="/oauth2/authorization/google"><img height="60px" width="60px" src="/image/google.png" class="img-fluid rounded-top" alt="" /></a>
                        </div>
                        <div class="col-md-6 text-start">
                            <a href="/oauth2/authorization/facebook"><img height="80px" width="80px" src="/image/facebook.webp" class="img-fluid rounded-top" alt="" /></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>
