<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
    <!--====== footer ======= -->
    <section class="news" th:fragment="footer">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-9 m-auto text-center">
                    <h1>Theo dõi tôi để nhận thông tin mới nhất</h1>
                    <!-- <input type="text" class="px-3" placeholder="Hãy nhập Email của bạn">
                    <button class="btn-follow">OK</button> -->
                    <form th:action="@{/site/accounts/subscribe}" method="post">
                        <input type="email" name="email" class="px-3" placeholder="Hãy nhập Email của bạn" required>
                        <button type="submit" class="btn-follow">OK</button>
                        <h1 th:if="${message}" th:text="${message}"></h1>
                    </form>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-11 m-auto">
                    <div class="row">
                        <div class="col-lg-3 py-3 info">
                            <h2 class="pb-3">Menu</h2>
                            <a class="menu" href="index.html">Home</a>
                            <a class="menu" href="about.html">Giới thiệu</a>
                            <a class="menu" href="cauHoi.html">Câu hỏi</a>
                            <a class="menu" href="contact.html">Liên hệ</a>
                            <a class="menu" href="login.html">Đăng nhập</a>
                        </div>
                        <div class="col-lg-3 py-3 info">
                            <h2 class="pb-3">Kĩ Năng</h2>
                            <a class="menu" href="https://www.java.com/en/">Java</a>
                            <a class="menu" href="https://spring.io/projects/spring-boot/">Spring boot</a>
                            <a class="menu" href="https://getbootstrap.com/">Bootstrap</a>
                            <a class="menu" href="https://angular.io/">Angular</a>
                            <a class="menu" href="#">HTML</a>
                            <a class="menu" href="#">CSS</a>
                            <a class="menu" href="#">JavaScript</a>
                            <a class="menu" href="#">SQL Sever</a>
                        </div>
                        <div class="col-lg-3 py-3 info">
                            <h2 class="pb-3">Địa chỉ</h2>
                            <p>??? Nguyễn Thị Thập, Thanh Khê Tây, Liên Chiểu, Đà Nẵng, Việt Nam</p>
                            <br>
                            <p>SĐT : 0987654321</p>
                            <p>Email: xuanchient033@gmail.com</p>
                        </div>
                        <div class="col-lg-3 py-3 info">
                            <h2 class="pb-3">Liên hệ</h2>
                            <span>
                                <a class="info-me" href="https://www.facebook.com/profile.php?id=100050139920988"
                                    target="_blank" rel="noopener noreferrer">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </span>
                            <span>
                                <a class="info-me" href="https://github.com/chienpromax" target="_blank"
                                    rel="noopener noreferrer">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </span>
                            <span>
                                <a class="info-me" href="https://twitter.com/chien_cham_chi" target="_blank"
                                    rel="noopener noreferrer">
                                    <i class="fa-brands fa-square-x-twitter"></i>
                                </a>
                            </span>
                            <span>
                                <a class="info-me" href="https://www.facebook.com/profile.php?id=100050139920988"
                                    target="_blank" rel="noopener noreferrer">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="copyRight">
            <p class="text-center copyRight">copyRight ©2024 All right reserved | trang web này được tạo bởi
                ChiếnChămChỉ</p>
        </div>
    </section>
</body>

</html>