<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    <section th:fragment="steepaction">        
        <!-- Steep action -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light" style="z-index: 1;">
            <div class="containe m-auto py-3">
                <div class="collapse navbar-collapse d-flex justify-content-center" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0 fs-4 d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/site/carts/cartdetail}">SHOPPING CART</a>
                        </li>
                        <span class=""><i class="bi bi-chevron-right"></i></span>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/site/carts/checkdetail}">CHECKUOT DETAILS</a>
                        </li>
                        <span class=""><i class="bi bi-chevron-double-right"></i></span>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/site/carts/ordercompleta}">ORDER COMPLETA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</body>

</html>