<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
    <div class="container-fluid px-4" layout:fragment="content">
        <div class="row g-3 my-2">
            <div class="table-responsive">
                <div class="card mb-2">
                    <div class="card-body text-center">
                        <h2 class="text-primary">Danh sách danh mục</h2>
                        <i th:text="${message}" style="color: red; font-size: 1.3rem; font-weight: 500;"></i>
                    </div>
                    <div class="row m-2 mb-2">
                        <div class="col-md-6 ">
                            <form th:action="@{/admin/categories/searchpaginated}">
                                <div class="form-inline float-left d-flex justify-content-center align-items-center">
                                    <label for="" class="form-label me-2">Search Name</label>
                                    <input type="text" class="form-control" style="width: 60%;" name="nameSearch"
                                        id="" />
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <a class="btn btn-primary" th:href="@{/admin/categories/add}">Add new</a>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${!categoryPage.hasContent()}">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            <Strong>No Categories Found</Strong>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-successtable-dark table-striped table-hover"
                    th:if="${cateogryPage.hasContent()}">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="category, iStat : ${categoryPage.content}">
                            <td th:text="${category.categoryid}">1</td>
                            <td th:text="${category.name}">Category Name</td>
                            <td>
                                <a th:href="@{'/admin/categories/edit/' + ${category.categoryid}}"
                                    class="btn btn-primary" type="button">edit</a> |
                                <a th:href="@{'/admin/categories/delete/' + ${category.categoryid}}"
                                    class="btn btn-primary" type="button">delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation " th:if="@{categoryPage.totalPages > 0}">
                <ul class="pagination d-flex justify-content-center">
                    <li th:class="${1 == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/admin/categories/serachpaginated(name=${name}, size=${categoryPage.size}, page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"
                        th:each="pageNumber : ${pageNumber}"
                        th:if="${categoryPage.totalPages > 1}"
                        th:class="${pageNumber == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{admin/categories/searchpagianted(name=${name}, size=${categoryPage.size}, page=${pageNumber})}"
                        th:text="${pageNumber}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li th:class="${categoryPage.totalPages == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/admin/categories/serachpaginated(name=${name}, size=${categoryPage.size}, page=${categories.totalPages})}" aria-label="Next">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>