<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
    <div class="container-fluid px-4" layout:fragment="content">
        <div class="row g-3 my-2">
            <div class="table-responsive">
                <div class="card mb-2">
                    <div class="card-body text-center">
                        <h2 class="text-primary">Danh sách account</h2>
                        <i th:text="${message}" style="color: red; font-size: 1.3rem; font-weight: 500;"></i>
                    </div>
                    <div class="row m-2 mb-2 pb-3">
                        <div class="col-md-6 ">
                            <form th:action="@{/admin/accounts/searchpaginated}">
                                <div class="form-inline float-left d-flex justify-content-center align-items-center">
                                    <label for="" class="form-label me-2">Search Name</label>
                                    <input type="text" class="form-control" style="width: 60%;" name="nameSearch"
                                        id="" />
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <a class="btn btn-primary" th:href="@{/admin/accounts/add}">Add new</a>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${!accountPage.hasContent()}">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            <Strong>No accounts Found</Strong>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-successtable-dark table-striped table-hover"
                    th:if="${accountPage.hasContent()}">
                    <thead>
                        <tr>
                            <th>userName</th>
                            <th>pasword</th>
                            <th>email</th>
                            <th>role</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="account, iStat : ${accountPage.content}">
                            <td th:text="${account.username}">1</td>
                            <td th:text="${account.password}"></td>
                            <td th:text="${account.email}"></td>
                            <td th:text="${account.role}"></td>
                            <td>
                                <a th:href="@{'/admin/accounts/edit/' + ${account.username}}"
                                    class="btn btn-primary" type="button">edit</a> |
                                <a th:href="@{'/admin/accounts/delete/' + ${account.username}}"
                                    class="btn btn-primary" type="button">delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <form action="">
                                <label for="size" class="form-label">Page size</label>
                                <select name="size" id="size" class="form-control" 
                                onchange="this.form.submit()">
                                    <option th:selected="${accountPage.size == 5}" value="5">5</option>
                                    <option th:selected="${accountPage.size == 10}" value="10">10</option>
                                    <option th:selected="${accountPage.size == 15}" value="15">15</option>
                                    <option th:selected="${accountPage.size == 20}" value="20">20</option>
                                    <option th:selected="${accountPage.size == 30}" value="30">30</option>
                                </select>
                            </form>
                        </div>
                        <nav aria-label="Page navigation" th:if="${accountPage.totalPages > 0}">
                            <ul class="pagination d-flex justify-content-center">
                                <li th:class="${1 == accountPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a class="page-link"
                                        th:href="@{/admin/accounts/searchpaginated(name=${name}, size=${accountPage.size}, page=${1})}">
                                        First
                                    </a>
                                </li>
                                <li class="page-item active" th:each="pageNumber : ${pageNumbers}"
                                    th:if="${accountPage.totalPages > 1}"
                                    th:class="${pageNumber == accountPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a class="page-link"
                                        th:href="@{/admin/accounts/searchpaginated(name=${name}, size=${accountPage.size}, page=${pageNumber})}"
                                        th:text="${pageNumber}">1</a>
                                </li>
                                <li
                                    th:class="${accountPage.totalPages == accountPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a class="page-link"
                                        th:href="@{/admin/accounts/searchpaginated(name=${name}, size=${accountPage.size}, page=${accountPage.totalPages})}">
                                        Last
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>