<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

</head>

<body>
    <div class="bg-white" id="sidebar-wrapper" th:fragment="nav">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><a class="navbar-brand" th:href="@{/site/page/home}"><img width="100" height="60" src="/image/logo-mixi-tét.png"
            alt=""></a></div>
        <div class="list-group list-group-flush my-3">
            <a th:href="@{/admin/products/searchpaginated}"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Product</a>
            <a th:href="@{/admin/categories/searchpaginated}"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Category</a>
            <div class="dropdown ps-3 pt-2 pb-4">
                <button class="btn bg-white dropdown-toggle list-group-item.active second-text fw-bold" type="button"
                    id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    customer Manager
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a th:href="@{/admin/accounts/searchpaginated}"
                            class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Account</a>
                    </li>
                    <li><a th:href="@{/admin/customers/searchpaginated}"
                            class="list-group-item list-group-item-action bg-transparent second-text fw-bold">info
                            Customer</a></li>
                </ul>
            </div>
            <div class="dropdown ps-3">
                <button class="btn bg-white dropdown-toggle list-group-item.active second-text fw-bold" type="button"
                    id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Order Manager
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a th:href="@{/admin/orders/searchpaginated}"
                            class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Order</a>
                    </li>
                    <li><a th:href="@{/admin/orderdetails/searchpaginated}"
                            class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Order
                            detail</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>