<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
	<div class="container-fluid px-4" layout:fragment="content">
		<div class="row g-3 my-2">
			<form th:action="@{/admin/categories/addOrUpdate}" method="post" th:object="${category}">
				<div class="mb-3 border border-dark rounded bg-white">
					<div class="row text-center m-2">
						<label for="" class="form-label fs-4 primary-text">Category
							Manager</label>
						<hr>
						<div class="col-md-6">
							<label for="" class="form-label fs-4">Category Id</label> 
							<input type="hidden" th:field="*{isEdit}"/> 
							<input th:field="*{categoryid}" type="text" class="form-control" readonly/>
						</div>
						<div class="col-md-6">
							<label for="" class="form-label fs-4">Category Name</label> 
							<input th:field="*{name}" aria-describedby="categorynameh" type="text" class="form-control" />
							<small id="categorynameh" class="form-text text-muted" th:if="${#fields.hasErrors('name')}"> category name is required</small>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">
						<span th:if="${category.isEdit}">Update</span>
						<span th:unless="${category.isEdit}">save</span>
					</button>
					<a th:href="@{/admin/categories/searchpaginated}" class="btn btn-primary" type="button">List</a>
					<button type="reset" class="btn btn-primary">Resert</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>